.cwu-button{display: inline-block;width:100%;border-radius: 1px;border: none;color: #000;font-size: 1.5vw;transition: all 0.5s;cursor: pointer;margin: 0.2vw;color:inherit;background-color:inherit;}
.cwu-button span{cursor: pointer;display: inline-block;position: relative;transition: 0.5s;}
.cwu-button span:after{content: '\00bb';position: absolute;opacity: 0;top: 0;right: 10.0%;transition: 0.5s;}
.cwu-button:hover span{padding-right: 1.5vw;}
.cwu-button:hover span:after{opacity: 1;right: 0;}
.cwu-scrollbar::-webkit-scrollbar {width: 10px;}.cwu-scrollbar::-webkit-scrollbar-track {background: #e8e8e8;}
.cwu-scrollbar::-webkit-scrollbar-thumb {background: #aaa;}.cwu-scrollbar::-webkit-scrollbar-thumb:hover {background: #888;}
.cwu-text-title{font-size:12.0vw!important;}.cwu-text-xxlarge{font-size:6.4vw!important;}.cwu-text-xlarge{font-size:4.6vw!important;}.cwu-text-large{font-size:3.2vw!important;}
.cwu-text-medium{font-size:2.4vw!important;}.cwu-text-small{font-size:2vw!important;}.cwu-text-tiny{font-size:1.6vw!important;}.cwu-text-micro{font-size:1.2vw!important;}.cwu-text-nano{font-size:1.0vw!important;}
.cwu-fifth{width:19.99999%!important;}.cwu-quarter{width:24.99999%!important;}.cwu-third{width:33.33333%!important;}.cwu-half{width:49.99999%!important;}
.cwu-twothirds{width:66.66666%!important;}.cwu-threequarters{width:74.99999%!important;}
.cwu-hr{margin:auto;border:0.5px solid!important;}
.cwu-animate-up{position:relative;animation:animatebottom 1.2s}@keyframes animatebottom{from{bottom:-30vw;opacity:0} to{bottom:0;opacity:1};}
.cwu-animate-down{position:relative;animation:animatetop 0.8s}@keyframes animatetop{from{top:-10vw;opacity:0} to{top:0;opacity:1};}
.cwu-col{display:inline-block;width:100vw;}.cwu-col.m6{width:49.99999vw;}.cwu-col.l3{width:24.99999vw;}
.cwu-bar-item{padding:1vw 1vw;float:left;width:auto;border:none;display:inline-block;}
.cwu-w{width:100%;}
.cwu-roll:hover{position:relative;background-color:#ffffff00;animation-name:roll;animation-duration:500ms;animation-iteration-count:4;animation-timing-function:linear;}@keyframes roll{from{transform:rotate(0deg);} to{transform:rotate(360deg)};}
/*.cwu-roll:hover:after{position:relative;animation-name:roll;}@keyframes roll{right:200px}*/