.search{
    position: relative;
    left: calc(50% - (33.33333% / 2));
    width: 33.33333%;
    text-align: left;
    padding: 10px 20px;
    background-color: white;
    border-radius: 50px;
    margin-top: 20vh;
}
.search img{
    position: absolute;
    text-align: center;
    top: calc(50% - 10px);
    float: left;
    width: 20px;
    opacity: .8;
}
.search:hover{
    box-shadow: 2px 2px 12px rgba(124, 124, 124, 0.75);
}
.center{
    width: auto;
    text-align: center;
}
.cursor-animate{
    animation: blinkTextCursor 800ms steps(50) infinite;
}
.fade-in{
    opacity: 0;
    animation: fadeIn 2s 2.5s;
}
.fly-in{
    animation: flyIn 2s 1 normal;
}
@keyframes blinkTextCursor {
    from {color: rgba(255, 255, 255, 0.9);}
    to {color: transparent;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes flyIn {
    from {transform: translateX(-150%);}
    to {transform: translateX(0);}
}